<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<header>
    <h1 class="header_title">遊戯王マスターデュエル</h1>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <h2 class="subject">初心者にとってのマスターデュエル、<br />
                初心者オススメデッキ、使用したデッキ<br />
            </h2>
            <div class="container-fluid light_produce">
                <p class="hit">1月19日に配信された<strong>マスターデュエル</strong>は2月7日時点で<strong>1000万</strong>ダウンロードされるという<br />
                    大ヒットで時間帯によっては<strong>Apex</strong>よりも同時接続者が多い時もあるそうで<br />
                    その証拠にマッチする時間は大体2秒くらいで5秒も待っていると相手の切断を疑うレベルです。</p>
                <p class="question">そんな大ヒットしているマスターデュエルですが果たして本当に面白いのか<br />
                    今の遊戯王をあまり知らない人でも、<strong>初心者</strong>でも楽しめるのかどうか<br />
                    <strong>初心者オススメデッキ</strong>、<strong>使用したデッキ</strong>
                    を語っていこうと思います。</p>
            </div>
            <div class="container-fluid contents">
                <ol class="contents">
                    <p class="subject">目次</p>
                    <li><a href="#i1">初心者にとってのマスターデュエル</a></li>
                    <li><a href="#i2">初心者オススメデッキ</a></li>
                    <li><a href="#i3">使用したデッキ</a></li>
                    <li><a href="#i4">まとめ</a></li>


                </ol>
            </div>
            <div class="container-fluid beginner_masterduel">
                <h3 id="i1">初心者にとってのマスターデュエル</h3>
                <p class="initial">まず遊戯王をあまり知らない人でも楽しめるのかという点ですが正直<strong>難しい</strong>と思います。</p>
                <p class="thoughts_description">というのがマスターデュエルがどうというよりも遊戯王がそうなのですが<br />
                    <strong>初心者はかなりとっつきづらく非常に難解です。</strong><br />
                    <p class="judge">中には公式の大会でいわゆる審判の様な立ち位置である<strong>ジャッジ</strong>と呼ばれる人がいるのです<br />が
                        そのジャッジでさえ裁定を間違えたり遊戯王を運営している<strong>KONAMI</strong>も裁定に関して<strong>調整中</strong>というカードが存在する程です。
                        <br />
                        <p>またマスターデュエルが初心者を遠ざけている理由として挙げられるのは<strong>カジュアル戦</strong>がなく<strong>ランク戦</strong>しかないというところでしょう。
                        </p>
                        <p>ですので純粋に遊戯王を楽しみたい人でそんなに<strong>強くないデッキ(ファンデッキ)</strong>を使用している人と<strong>強いデッキ(環境デッキ)</strong>を使いランクを上げたい人が混在し<br />
                            環境デッキのパワーに圧倒された初心者がマスターデュエルから<strong>離脱</strong>するという事が起こっていると思います。
                        </p>

            </div>
            <div class="container-fluid beginner_recommendation">
                <h3 id="i2">初心者オススメデッキ</h3>
                <p class="initial">そんな初心者には難しい遊戯王、マスターデュエルですが<strong>初心者にも扱いやすくて強いデッキ</strong>があるのでご紹介したいと思います。</p>
                <p class="strong_deck">それが<strong>エルドリッチ</strong>というデッキです。<br />エルドリッチの構築例を見ましょう。<br />
                    これを真似てある程度慣れれば随分と勝てるようになると思います。</p>
                <%= image_tag "eldlich.png", :size =>"600x500" %>
                <p class="feature">エルドリッチの特徴は<strong>展開するモンスターが黄金卿エルドリッチしかおらず罠を大量に伏せ相手を妨害</strong>していくというデッキです。
                    <p>出すモンスターは黄金卿エルドリッチしかいないので他のデッキに存在するこの場合にはこのモンスターを出すというような<strong>駆け引きがなく</strong>非常に使いやすいです。
                        <p>黄金卿エルドリッチが墓地に送られても黄金卿エルドリッチ自身の効果で黄金卿エルドリッチが墓地に存在するときに自分フィールドの魔法、罠を墓地に送り<br />
                            黄金卿エルドリッチを手札に加えその後アンデッド族モンスターを特殊召喚することが出来、<strong>黄金卿エルドリッチがアンデッド族なので自身を特殊召喚する事ができます。</strong><br />
                            <p>このように中々にしぶといです。</p>
                        </p>
                    </p>
                </p>
                </p>
            </div>
            <div class="container-fluid my_deck">
                <h3 id="i3">使用したデッキ</h3>
                <p class="initial">次に僕の使ったデッキである閃刀姫(せんとうき)を紹介したいと思います。<br />
                </p>
                <p class="my_deck">まずは僕のデッキ構築をご覧ください。</p>
                <%= image_tag "sentouki.png", :size => "700×400" %>
                <p class="deck_description">閃刀姫は閃刀姫レイをを召喚して閃刀姫リンクモンスターを出し閃刀魔法を手札に入れ魔法を伏せて相手を妨害していくデッキです。
                    <p>このデッキも基本的に場に出ているモンスターは1体のみなのでエルドリッチと同じ類いのデッキですがエルドリッチとは比べ物にならない程難しい
                        のでエルドリッチと似ているからと初心者が手を出すと痛い目を見ます。
                    </p>
                    <p>エルドリッチとどこが違うのかというと閃刀姫は相手のデッキをある程度把握していないとダメでこのモンスターの効果を無効にしたら相手の展開は止まるけど
                        このモンスターの効果を無効にしてもあまり意味がないというのがあり的確に妨害を当てないと勝てないデッキで凄く駆け引きがいるデッキです。
                    </p>
                    <p>twitterでも閃刀姫のトレンドで閃刀姫弱いというキーワードがよく出てきます。これは閃刀姫の動かし方が難しく勝てないからです。</p>
                    <p>マスターデュエルのランクでルーキー、ブロンズ、シルバー、ゴールド、プラチナまでランクがありルーキーはtier2とtier1
                        ブロンズからプラチナはtier5からtier1まであり最高ランクがプラチナ1なのですが上に載せたデッキで最高のランクであるプラチナ1
                        までいくことができました。</p>
                    <%= image_tag "pratinum.png", :size => "700×400"%>
                </p>
            </div>
            <div class="container-fluid sammary">
            <h3 id="i4">まとめ</h3>
            <p class="initial">初心者にとってのマスターデュエル、初心者オススメデッキ、使用したデッキを個人的にまとめて語っていきました。</p>
            <p class="sammary">個人的にマスターデュエルにカジュアル戦を早く導入して欲しいです。
                カジュアル戦を導入する事で初心者離れが緩和されるだけではなく現状だとプラチナ、ゴールドでは降格がありプラチナ1では降格がないという事で
                まだ使用した事がないデッキを試すにはプラチナ1までいかないとダメという環境で僕はプラチナ1までいけたので試し放題ですが初心者が到達するには
                かなりのハードルがあると思います。
                <p>初心者がもっと定着しマスターデュエルを通して遊戯王が広まっていけば僕も楽しいのでカジュアル戦を早く、、、
                </p>
                <p>あとBGMめちゃくちゃいいです。外出していてもBGM聞いてるとかよくあります。</p>
                
            </p>
        </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
<footer>
    <h1 class="footer_title">遊戯王マスターデュエル</h1>
</footer>