// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media screen and (min-width: 993px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .wrap_original {
        overflow: hidden;
    }
    img {
        max-width: 100%;
        height: auto;
        }

    header {
        background-color: black;

        .header_title {
            text-align: center;
            padding: 10px;
            color: rgb(236, 236, 245);
        }
    }

    .container-fluid {
        margin-top: 20px;
    }

    .col-xs-10.col-sm-8.col-md-6{
        text-align: center;

        .container-fluid.light_produce {
            margin-top: 100px;
        }

        .container-fluid.contents {
            margin-top: 100px;

            .contents {
                background-color: beige;

                p.subject {
                    text-align: center;
                }

                li {
                    text-align: left;
                    margin-left: 70px;
                }
            }
        }

        .container-fluid.beginner_masterduel {
            #i1 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.beginner_recommendation {
            #i2 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }
            p.feature {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.my_deck {
            #i3 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.deck_description {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.sammary {
            #i4 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.sammary {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }
    }

    .col-xs-1.col-sm-2.col-md-3{
        background-color: rgb(236, 236, 245);
    }

    footer {
        margin-top: 20px;
        background-color: black;

        .footer_title {
            text-align: center;
            padding: 10px;
            color: rgb(236, 236, 245);
        }
    }
}

@media screen and (max-width: 992px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .wrap_original {
        overflow: hidden;
    }
    img {
        max-width: 100%;
        height: auto;
        }

    header {
        background-color: black;

        .header_title {
            text-align: center;
            padding: 10px;
            color: rgb(236, 236, 245);
        }
    }

    .container-fluid {
        margin-top: 20px;
    }

    .col-xs-10.col-sm-8.col-md-6 {
        text-align: center;

        .container-fluid.light_produce {
            margin-top: 100px;
        }

        .container-fluid.contents {
            margin-top: 100px;

            .contents {
                background-color: beige;

                p.subject {
                    text-align: center;
                }

                li {
                    text-align: left;
                    margin-left: 70px;
                }
            }
        }

        .container-fluid.beginner_masterduel {
            #i1 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.beginner_recommendation {
            #i2 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.feature {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.my_deck {
            #i3 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.deck_description {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.sammary {
            #i4 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.sammary {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }
    }
    .col-xs-1.col-sm-2.col-md-3{
        /* do nothing */
    }


    footer {
        margin-top: 20px;
        background-color: black;

        .footer_title {
            text-align: center;
            padding: 10px;
            color: rgb(236, 236, 245);
        }
    }
}

@media screen and (max-width: 576px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .wrap_original {
        overflow: hidden;
    }
    img {
        max-width: 100%;
        height: auto;
        }

    header {
        background-color: black;

        .header_title {
            text-align: center;
            padding: 10px;
            color: rgb(236, 236, 245);
        }
    }

    .container-fluid {
        margin-top: 20px;
    }

    .col-xs-10.col-sm-8.col-md-6{
        text-align: center;

        .container-fluid.light_produce {
            margin-top: 100px;
        }

        .container-fluid.contents {
            margin-top: 100px;

            .contents {
                background-color: beige;

                p.subject {
                    text-align: center;
                }

                li {
                    text-align: left;
                    margin-left: 70px;
                }
            }
        }

        .container-fluid.beginner_masterduel {
            #i1 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.beginner_recommendation {
            #i2 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.feature {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.my_deck {
            #i3 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.deck_description {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }

        .container-fluid.sammary {
            #i4 {
                margin-top: 100px;
                border-top: double thick rgb(5, 1, 12);
                border-bottom: double thick rgb(5, 1, 12);
            }

            p.initial {
                margin-top: 20px;
            }

            p.sammary {
                margin-top: 20px;
            }

            p {
                text-align: left;
                margin-bottom: 60px;
            }
        }
    }
    .col-xs-1.col-sm-2.col-md-3{
        /* do nothing */
    }

    footer {
        margin-top: 20px;
        background-color: black;

        .footer_title {
            text-align: center;
            padding: 10px;
            color: rgb(236, 236, 245);
        }
    }
}